@model web_fitness.Models.Meeting
@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingTypeID" class="control-label"></label>
                <select asp-for="TrainingTypeID" class="form-control" asp-items="ViewBag.TrainingTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrainerID" class="control-label"></label>
                <select asp-for="TrainerID" class="form-control" asp-items="ViewBag.TrainerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MeetDate" class="control-label"></label>
                <input asp-for="MeetDate" class="form-control" />
                <span asp-validation-for="MeetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create and Share" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
