@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css">

<section class="text-center h-100">
    <h1 class="home-title display-4">Choose a training method</h1>
    <div class="d-flex flex-column h-100 align-items-center">
        <div class="row container mt-5 w-100 justify-content-center text-dark" style="height: 200px">
            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="TRX" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">TRX</div>
            </a>

            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="Yoga" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">Yoga</div>
            </a>

            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="Tabata" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 d-flex align-items-center justify-content-center" style="width: 200px">Tabata</div>
            </a>
        </div>

        <div class="row container mt-4 w-100 justify-content-center text-dark" style="height: 200px">
            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="Pilates" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">Pilates</div>
            </a>

            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="KickBox" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">KickBox</div>
            </a>

            <a asp-action="List" asp-controller="Meetings" asp-route-eventTypeName="HIIT" class="text-dark">
                <div class="card training-type-card h-100 text-center p-4 d-flex align-items-center justify-content-center" style="width: 200px">H.I.I.T</div>
            </a>
        </div>
    </div>
</section>

<section class="newForm">
    <div class="multipleColumns mt-5" style="  -webkit-column-count: 3;-moz-column-count: 3; column-count: 3;">
        <b>Safety - </b> We gurantee that each training meeting is presented only after going through a strict process with high demanding requirements following our government approved policy.<br />
        <b>Technology - </b> This website provide features that allow you to find the training meeting which fits the most to YOUR needs. Moreover, we will recommend you about meetings which we think you will love. <br />
        <b>Pricing - </b> You won't find prices as good as ours. You are welcome to compare with other websites, if you have any questions or concern please talk to the trainer incharge.
    </div>
</section>