@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/home.css">


<div class="text-center h-100">
    <h1 class="display-4">Choose a training method</h1>
    <div class="d-flex flex-column h-100 align-items-center">
        <div class="row container mt-5 w-100 justify-content-center text-dark" style="height: 200px">
            <a class="text-dark" href="/Meeting?eventTypeName=TRX">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">TRX</div>
            </a>

            <a class="text-dark" href="/Meeting?eventTypeName=Yoga">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">Yoga</div>
            </a>

            <a class="text-dark" href="/Meeting?eventTypeName=Tabata">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">Tabata</div>
            </a>
        </div>

        <div class="row container mt-4 w-100 justify-content-center text-dark" style="height: 200px">
            <a class="text-dark" href="/Meeting?eventTypeName=Pilates">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">Pilates</div>
            </a>
            <a class="text-dark" href="/Meeting?eventTypeName=KickBox">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">KickBox</div>
            </a>
            <a class="text-dark" href="/Meeting?eventTypeName=HIIT">
                <div class="card training-type-card h-100 text-center p-4 mr-4 d-flex align-items-center justify-content-center" style="width: 200px">H.I.I.T</div>
            </a>
        </div>
    </div>
</div>
